# Phoenix DB
PHOENIX_DB_USER=postgres
PHOENIX_DB_PASSWORD=postgres
PHOENIX_DB_NAME=phoenix_api
PHOENIX_DB_PORT=5433

# Symfony DB
SYMFONY_DB_USER=postgres
SYMFONY_DB_PASSWORD=postgres
SYMFONY_DB_NAME=symfony_app
SYMFONY_DB_PORT=5432

# Phoenix App
PHOENIX_SECRET_KEY_BASE=thisisasecret111
PHOENIX_HOST=0.0.0.0
PHOENIX_PORT=4000

# Symfony App
SYMFONY_APP_ENV=dev
SYMFONY_APP_SECRET=thisisasecret222
SYMFONY_PORT=8000
SYMFONY_PHOENIX_BASE_URL=http://phoenix:4000

# Encryption
SYMFONY_PHOENIX_ENCRYPTION_KEY=